@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");
body {
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow-x: hidden;
}

body .navbar {
  background: url("/../img/MotionMotionNavbar.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
}

body .navbar-toggler {
  border: none !important;
}

body .navbar-toggler:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
          filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
}

body .navbar-collapse {
  border-bottom: 1px solid transparent;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}

body .nav-item a:hover {
  color: #FF0092 !important;
}

body .word-row {
  position: absolute;
}

body .word span {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4vw;
  font-weight: bold;
}

body .bounce span {
  top: .75em;
  position: relative;
  display: inline-block;
  -webkit-animation: bounce 1s ease infinite alternate;
          animation: bounce 1s ease infinite alternate;
}

body .bounce span:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

body .bounce span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

body .bounce span:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

body .bounce span:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

body .bounce span:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

body .bounce span:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

body .bounce span:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

body .size img {
  width: 100%;
  height: auto;
  pointer-events: stroke;
}

body .size img:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
          filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
}

@media screen and (max-width: 768px) {
  body .section2-text {
    position: relative;
    z-index: 50;
  }
}

body .section2-text p {
  text-align: justify;
  color: #949494;
}

body .section2-text h2 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

footer {
  color: #FF0092;
}

footer .row .line {
  background: url("/../img/MotionMotionNavbar.png");
  height: 10vh;
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
}

footer .row .col-4:first-child {
  color: #949494;
}

#edition2020 {
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
}

#edition2020 .video-row {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#edition2020 .video-row video {
  width: 100vw;
  height: auto;
}

#edition2020 .video-row img {
  width: 100vw;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

#edition2020 .header-h1 {
  font-size: 8vw;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
}

#edition2020 .header-h2 {
  font-size: 4vw;
  font-family: 'Cabin Sketch', cursive;
  color: #949494;
}

#edition2020 .date {
  color: #FF0092;
  font-family: 'Cabin Sketch', cursive;
}

#edition2020 p {
  text-align: justify;
  color: #949494;
}

#edition2020 p span {
  color: #FF0092;
  font-family: 'Cabin Sketch', cursive;
  font-size: .99em;
}

#edition2020 .figure-one {
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  background-color: black;
  color: white;
}

#edition2020 .figure-one p {
  color: white;
}

#edition2020 .thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#edition2020 .thecard:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#edition2020 .thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

#edition2020 .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=style.css.map */