@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

body{
    // background: url("/../img/annie-spratt-gM8igOIP5MA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-x: hidden;
    // cursor: url("/../img/cur.png"), auto;	

    .navbar{
        background:url("/../img/MotionMotionNavbar.png");
        background-repeat: no-repeat;
        border-bottom: 1px solid transparent;
        // background: rgba(0, 0, 0, 0);
    }
    .navbar-toggler{
        border: none !important;
        &:hover {
            animation: shake 0.5s;
            /* When the animation is finished, start again */
            animation-iteration-count: infinite;
            filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
         }

    }
    .navbar-collapse{
        // background:url("/../img/MotionMotionNavbar.png");
        border-bottom: 1px solid transparent;
        font-family: 'Cabin Sketch', cursive;
        font-size: 2em;
        // height: 50vh;
        // transition: all 2s ease-in-out;
        
    }
    .nav-item a{
        &:hover{
            color: #FF0092 !important;
        }
    }
 
    .word-row {
        position: absolute;
        // animation: place 10s ease infinite alternate;
    }
    // @keyframes place {
    //     0%{top:800px ;}
    //     25%{top:-400px ;}
    //     50%{top:-600px ;}
    //     75%{top:-800px ;}
    //     100%{top:-1000px ;}
    // }
    .word span{
        font-family: 'Cabin Sketch', cursive;
        font-size:4vw;
        font-weight: bold;
    }
    .bounce span {
        top: .75em;
        position: relative;
        display: inline-block;
        animation: bounce 1s ease infinite alternate;
      }
      .bounce span:nth-child(2) { animation-delay: .1s; }
      .bounce span:nth-child(3) { animation-delay: .2s; }
      .bounce span:nth-child(4) { animation-delay: .3s; }
      .bounce span:nth-child(5) { animation-delay: .4s; }
      .bounce span:nth-child(6) { animation-delay: .5s; }
      .bounce span:nth-child(7) { animation-delay: .6s; }
      .bounce span:nth-child(8) { animation-delay: .7s; }
      
      
      @keyframes bounce {
        100% {
          top: -20px;
          text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
        }
      }

    
   .size img{
        width: 100%;
        height: auto;
        pointer-events: stroke;
        &:hover {
                animation: shake 0.5s;
                /* When the animation is finished, start again */
                animation-iteration-count: infinite;
                filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
             }
    }

    .section2-text{
        @media screen and (max-width: 768px) {
            position: relative;
            z-index: 50;
        }
        p{
            text-align: justify;
            color: #949494;
        }
        h4{
            font-family: 'Cabin Sketch', cursive;
            font-size: 2em;
            color: #949494;
        }
    }

}

  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

footer {
    color:#FF0092;
    .row .line{
        background:url("/../img/MotionMotionNavbar.png");
        height: 10vh;
        // background-size: 100vw 50vh;
        // transform: rotate(180deg);
        background-repeat: no-repeat;
        border-bottom: 1px solid transparent;
    }
    .row .col-4:first-child{
        color: #949494;
    }

}
