@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow-x: hidden;
  cursor: url("./../img/cursor.png"), auto;
}

body .header-h1 {
  font-size: 8vw;
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
}

body .header-h2 {
  font-size: 2.5em;
  font-family: 'Cabin Sketch', cursive;
  color: #949494;
}

body .header-modal {
  font-size: 2.5em;
  font-family: 'Cabin Sketch', cursive;
  color: white;
}

body .header-h3 {
  font-size: 2em;
  font-family: 'Cabin Sketch', cursive;
  color: #FF0092;
}

body #cookie_message {
  background-color: black;
}

body #cookie_message .btn-contact {
  border: white 1px solid;
  color: white;
}

body #cookie_message .btn-contact:hover {
  border: white solid 1px;
  background-color: white;
  color: #FF0092;
}

body .navbar {
  background: url("./../img/MotionMotionNavbar.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
}

body .navbar-toggler, body .navbar-brand {
  border: none !important;
}

body .navbar-toggler:hover, body .navbar-brand:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
          filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
}

body .navbar-collapse {
  border-bottom: 1px solid transparent;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}

body .nav-item a:hover {
  color: #FF0092 !important;
}

body .word-row {
  position: absolute;
}

body .word span {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4vw;
  font-weight: bold;
}

body .bounce span {
  top: .75em;
  position: relative;
  display: inline-block;
  -webkit-animation: bounce 1s ease infinite alternate;
          animation: bounce 1s ease infinite alternate;
}

body .bounce span:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

body .bounce span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

body .bounce span:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

body .bounce span:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

body .bounce span:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

body .bounce span:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

body .bounce span:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

body .size img {
  width: 100%;
  height: auto;
  pointer-events: stroke;
}

body .size img:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
          filter: sepia(100%) hue-rotate(-80deg) saturate(400%);
}

@media screen and (max-width: 768px) {
  body .section2-text {
    position: relative;
    z-index: 50;
  }
}

body .section2-text p {
  text-align: justify;
  color: #949494;
}

body .section2-text h2 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
}

.shake-input {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

footer {
  color: #FF0092;
}

footer .row .line {
  background: url("./../img/MotionMotionNavbar.png");
  height: 10vh;
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
}

footer .row .col-4:first-child {
  color: #949494;
}

footer img {
  height: 30px;
  display: inline;
}

footer img:hover {
  cursor: pointer;
}

#edition2020 {
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}

#edition2020 .video-row {
  width: 100vw;
  height: 107vh;
  overflow: hidden;
  position: relative;
}

#edition2020 .video-row video {
  width: 100vw;
  height: auto;
}

#edition2020 .video-row img {
  width: 100vw;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

#edition2020 #mutebtn {
  position: absolute;
  top: 100px;
  right: 100px;
  background-color: black;
  color: white;
}

#edition2020 #mutebtn:hover {
  background-color: #FF0092;
}

#edition2020 #mheader {
  letter-spacing: -10px;
  display: inline;
}

#edition2020 .fixed {
  position: absolute;
}

#edition2020 .fixed2 {
  position: absolute;
  right: 0;
  -webkit-transform: translate(0, -500px);
          transform: translate(0, -500px);
}

#edition2020 .bounce2 span {
  position: fixed;
  top: .75em;
  position: relative;
  display: block;
  -webkit-animation: bounce 1s ease infinite alternate;
          animation: bounce 1s ease infinite alternate;
}

#edition2020 .bounce2 span:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

#edition2020 .bounce2 span:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

#edition2020 .bounce2 span:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

#edition2020 .bounce2 span:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

#edition2020 .bounce2 span:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#edition2020 .bounce2 span:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

#edition2020 .bounce2 span:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

#edition2020 .bounce2 span:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

#edition2020 .bounce2 span:nth-child(10) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

#edition2020 .bounce2 span:nth-child(11) {
  -webkit-animation-delay: .10s;
          animation-delay: .10s;
}

#edition2020 .bounce2 span:nth-child(12) {
  -webkit-animation-delay: .11s;
          animation-delay: .11s;
}

#edition2020 .bounce2 span:nth-child(13) {
  -webkit-animation-delay: .12s;
          animation-delay: .12s;
}

#edition2020 .bounce2 span:nth-child(14) {
  -webkit-animation-delay: .13s;
          animation-delay: .13s;
}

@-webkit-keyframes bounce2 {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

@keyframes bounce2 {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #FF0092, 0 2px 0 #FF0092, 0 3px 0 #FF0092, 0 4px 0 #FF0092, 0 5px 0 #FF0092;
  }
}

#edition2020 .date {
  color: #FF0092;
  font-family: 'Cabin Sketch', cursive;
}

#edition2020 p {
  text-align: justify;
  color: #949494;
}

#edition2020 p span {
  color: #FF0092;
  font-family: 'Cabin Sketch', cursive;
  font-size: .99em;
}

#edition2020 .figure-one {
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  background-color: black;
  min-height: 800px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
}

#edition2020 .figure-one p {
  color: white;
}

#edition2020 .thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  min-height: 70vh;
}

#edition2020 .exp-hover:hover .thecard, #edition2020 .exp-hover:hover .thecard2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#edition2020 .thefront {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  color: #000;
}

#edition2020 .thefront img {
  height: 100%;
}

#edition2020 .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#edition2020 .theback h3 {
  color: black;
  font-family: 'Cabin Sketch', cursive;
}

#edition2020 .theback p {
  text-align: justify;
}

#edition2020 .thecard2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#edition2020 .thecard2 img {
  width: 100%;
}

#edition2020 .thecard2 h3 {
  padding-top: 5%;
}

#edition2020 #other-activies .col-6 {
  height: 400px;
  overflow: hidden;
}

#edition2020 #other-activies .col-6 img {
  width: 100%;
}

#edition2020 #other-activies .col-6 h4 {
  color: #FF0092;
}

@media screen and (max-width: 576px) {
  #edition2020 #other-activies .row {
    max-height: 200px;
  }
  #edition2020 #other-activies .header-h2 {
    font-size: 1.5em;
    font-family: 'Cabin Sketch', cursive;
    color: #949494;
  }
  #edition2020 #other-activies .header-h3 {
    font-size: 1em;
    font-family: 'Cabin Sketch', cursive;
    color: #FF0092;
  }
}

#edition2020 #info .info {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  background-color: black;
  color: white;
  min-height: 1000px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  top: 150px;
}

#edition2020 #info .info h3, #edition2020 #info .info p {
  color: white;
}

@media screen and (max-width: 576px) {
  #edition2020 #info .info {
    min-height: 1300px;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
}

#edition2020 #info .maps {
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
  min-height: 800px;
}

#edition2020 #info .form {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  background-color: #FF0092;
  min-height: 1000px;
  position: relative;
  bottom: 150px;
  /* form starting stylings ------------------------------- */
}

#edition2020 #info .form h1 {
  color: white;
}

#edition2020 #info .contact-img {
  position: relative;
  min-height: 500px;
}

#edition2020 #info .contact-img img {
  position: absolute;
  width: 100%;
}

#edition2020 .group {
  position: relative;
  margin-bottom: 35px;
}

#edition2020 input {
  font-size: 18px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}

#edition2020 input:focus {
  outline: none;
}

#edition2020 label {
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#edition2020 input:focus ~ label, #edition2020 input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff;
}

#edition2020 .bar {
  position: relative;
  display: block;
  width: 100%;
}

#edition2020 .bar:before, #edition2020 .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#edition2020 .bar:before {
  left: 50%;
}

#edition2020 .bar:after {
  right: 50%;
}

#edition2020 input:focus ~ .bar:before, #edition2020 input:focus ~ .bar:after {
  width: 50%;
}

#edition2020 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

#edition2020 input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #fff;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #fff;
  }
  to {
    width: 0;
    background: transparent;
  }
}

#edition2020 .btn-contact {
  border: white 1px solid;
  color: white;
}

#edition2020 .btn-contact:hover {
  border: white solid 1px;
  background-color: white;
  color: #FF0092;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#edition2020 .bg-pink {
  background-color: #FF0092;
}

#edition2020 #mapDiv > div > div > div:nth-child(4) > div {
  top: 100px !important;
}
/*# sourceMappingURL=style.css.map */